__pycache__/run.cpython-310.pyc
build/run/Analysis-00.toc
build/run/base_library.zip
build/run/EXE-00.toc
build/run/PKG-00.toc
build/run/PYZ-00.pyz
build/run/PYZ-00.toc
build/run/run.exe.manifest
build/run/run.pkg
build/run/Tree-00.toc
build/run/Tree-01.toc
build/run/Tree-02.toc
build/run/warn-run.txt
build/run/xref-run.html
dist/run.exe
run.spec
